# Eclipse files
/src/.metadata/
/src/.settings/

# the Executables files
/src/compsen
# the output file
*.out

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# tags
GRTAGS
GPATH
GTAGS


# Debug files
*.dSYM/
/Debug/


